html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.wrapper {
  margin: 30px;
}

.widgets {
  position: relative;
  padding-top: 2%;
  margin: 0;
  background: #EEE;
}
.widgets:after {
  content: "";
  display: table;
  clear: both;
}

.widget {
  padding: 20px;
  box-sizing: border-box;
  background: #FFF;
  overflow: auto;
}

.widget-header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.widget-header a {
  float: right;
  margin-left: 10px;
}

.widget-content {
  line-height: 1.4;
}

.widgets-js .widget-col {
  float: left;
  margin: 0 0 0 2%;
  width: 30.63%;
  min-height: 50px;
  box-sizing: border-box;
  vertical-align: top;
}
@media (max-width: 1280px) {
  .widgets-js .widget-col {
    width: 47%;
  }
  .widgets-js .widget-col.widget-col-2 {
    display: none;
  }
  .widgets-js .widget-col .widget {
    margin-bottom: 4%;
  }
}
.widgets-js .widget {
  margin-bottom: 6%;
}
.widgets-js .widget-move {
  text-decoration: none;
}
.widgets-js .widget-move:before {
  font-family: 'Material Icons';
  content: "\E89F";
}
.widgets-js .ui-sortable-placeholder {
  background: #ccc;
  outline: 1px solid #aaa;
  visibility: visible !important;
}

.widgets-css .widget {
  margin: 2%;
  margin-top: 0;
  width: 30.63%;
}
.widgets-css .widget-left {
  float: left;
  clear: left;
}
.widgets-css .widget-center {
  margin-left: 34.63%;
  background: #afa;
}
.widgets-css .widget-right {
  float: right;
  clear: right;
  background: #8df;
}
@media (max-width: 1280px) {
  .widgets-css .widget {
    width: 47%;
  }
  .widgets-css .widget-left {
    clear: left;
    float: left;
  }
  .widgets-css .widget-center,
  .widgets-css .widget-right {
    float: none;
    margin-left: 51%;
  }
  .widgets-css .widget-right:nth-child(2n) {
    margin-left: 2%;
    clear: left;
    float: left;
  }
}
