#root {
  max-width: 1200px;
  margin: 0 auto;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1px;
}

.card {
  margin: 1rem;
  border: 2px solid gray;
  background-color: #ff4d4d;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}